                    .topnav {
                        padding: 20px;
                    }
                    
                    .home {
                        color: black;
                        font-family: verdana;
                        font-size: 16px;
                    }
                    
                    .topnav li {
                        float: right;
                        list-style: none;
                        display: inline-block;
                    }
                    
                    .topnav a {
                        color: #000000;
                        padding: 10px;
                        font-family: verdana;
                        font-size: 16px;
                        text-decoration: none;
                    }
                    
                    .topnav a:hover {
                        color: #808080;
                    }
                    
                    .background {
                        height: 550px;
                        background-image: url(images/3.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    
                    .title {
                        text-align: center;
                        color: #FFFFFF;
                        padding-top: 200px;
                        padding-left: 40px;
                    }
                    
                    .inside {
                        text-align: center;
                        color: #FFFFFF;
                        padding-left: 40px;
                        border: bottom 5px;
                    }
