.topnav {
    padding: 20px;
}

.home {
    color: #FFFFFF;
    font-family: verdana;
    font-size: 16px;
    display: inline-block;
}

.topnav li {
    float: right;
    list-style: none;
    display: inline-block;
}

.topnav a {
    color: #FFFFFF;
    padding: 20px;
    font-family: verdana;
    font-size: 16px;
    line-height: 100%;
}

.topnav a:hover {
    color: #808080;
}

.container {
    position: fixed;
}

.title {
    font-size: 24px;
    color: #FFFFFF;
    padding: 20px;
}

.box1 {
    padding: 20px;
    width: 300px;
    height: 100px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 120%;
}

.img {
    margin: 0 auto;
    width: 800px;
}

.title2 a {
    color: #FFFFFF;
    font-family: verdana;
    font-size: 16px;
}

.box2 li {
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px;
    font-family: verdana;
    list-style: none;
    line-height: 100%;
}
